#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  transform: scale(1, 1);
  transition: transform 700ms ease-in-out 50ms;
}
button:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
}